html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.List {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.List th,
td {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}

.List th {
  text-align: left;
}

.List thead {
 
    background-color: #130388;
  
}

.List tbody, tr:hover {
      background-color: rgba(255,255,255,0.3);  
}

.List tbody, td {
    position: relative;
}

.List tbody, td:hover  {
              background-color: rgba(255,255,225,0.3);  
      }

.history tbody {
  background-color: rgba(12, 12, 23, 1.0);

}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 600px;
    background-color: white;
    border: 1px solid black;
    padding: 60px;
    display: none;
    overflow: auto;
    z-index: 9999;
}

.historypopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    background-color: white;
    border: 1px solid black;
    padding: 60px;
    display: none;
    overflow: auto;

}