{% extends "sidebar.html" %}

{% block content %}
 {% load static %}
 <link rel="stylesheet" href="{% static 'css/basestyle.css' %}">
  <h1>Title: {{ call.name }}</h1>
<table id = 'mylist' class="List">
  <thead>
  <tհ>
     <td>N</td>
    <td> id </td>
    <td> Ուսուցչի անուն</td>
    <td> էլ հասցե</td>
    <td> Հեռախոսահամար</td>
    <td> Անգլերենի իմացություն</td>
    <td> Քաղաք </td>
    <td></td>

    <td>
           <button onclick="savecontent()" >Պահպանել</button>

      
    </td>
    <td>
         <button onclick="mailform()" >Էլ․ Նամակ</button>
    
    </td>
  </tհ>
  </thead>
  <tbody>


{% for s in called %}


  <tr>
  
    <td>{{s.id}}</td>
    <td>{{s.teacher.getSchools}}</td>
    <td> {{s.teacher.first_name}} {{s.teacher.last_name}} </td>
    <td> {{s.teacher.email}} </td>
    <td>{{s.teacher.phone_number}}</td>
    <td>{{s.teacher.english}}</td>
    <td>{{s.teacher.city}}</td>
    {% if s.is_called %}
    <td><input type="checkbox" id="{{s.id}}" checked></td>
    {% else %}
     <td><input type="checkbox" id="{{s.id}}" ></td>
    {% endif %}
   
    <td>
    <button onclick="showAlert('{{s.teacher.id}}')" >Թողնել Մեկնաբանություն</button>
    </td>
    <td>
        <button onclick="viewHistory('{{s.teacher.id}}')">Դիտել Պատմությունը</button>
    </td>
  </tr>
  
{% endfor %}

</tbody>
</table>

<div id="email" class="popup">
  <form method="post" action="{% url 'sendemail' %}">
    {% csrf_token %}
    <input type="hidden" name="page_id" value="{{object.pk}}">
   
    {{ forme.subject }}
    {{ forme.message }}
    <button type="submit">Send Email</button>
</form>
</div>

<div id="myPopup" class="popup">
    <!-- Add content to your popup here -->
    <p>This is a p text</p>

    <form action="" method="post">
    {% csrf_token %} 
    <label> {{form.sname.help_text}}</label>
    <input type="text" name="{{ form.sname.name }}" value="asas" readonly>
    {{form.comment}}
    {{form.like}}
    {{form.checkbox_field}} 
    <p> Բացել խնդիր</p>

    <input type="submit" value="Submit" name="savecomment">


  </form>
    <button onclick="CloseAlert()">Cancel</button>

</div>

<div id="History" class="historypopup">
<p>This is History of class </p>
  <table id="my-table" class = "history" width="100%">
    <thead>
      <tr>
        <th>Հրապարակման ամսաթիվ</th>
        <th>Մեկնաբանություն</th>
        <th> Գնահատական <th>
        
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
 <button onclick="CloseDiv()">Cancel</button>
</div>

<!-- JavaScript to handle the popup -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript" > </script>
<script type="text/javascript">
    var myButton = document.getElementById("myButton");
    var myPopup = document.getElementById("myPopup");
   // var l = document.getElementById("fname");
    var c = document.getElementsByName("sname");

  function showAlert(id) {
      myPopup.style.display = "block";
      //l.value = name;
      c[0].value = id;
  }
  function CloseAlert() {
    
      myPopup.style.display = "none";
  }

  function viewHistory(id){
      var history = document.getElementById("History");
      history.style.display = "block";
      csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
      var url = '/syunikbase/getteacherhistory/'+id;
      var jsdata = null;

// Send the request and parse the JSON response
      var tableBody = document.querySelector("#my-table tbody");
      tableBody.innerHTML = "";


fetch(url)
  .then(response => response.json())
  .then(data => {
    // Do something with the data
    
    console.log(data);
       for (var i = 0; i < data.length; i++) {
      console.log(i);
      var row = document.createElement("tr");

      var column1 = document.createElement("td");
      column1.textContent = data[i].date;
           row.appendChild(column1);

      var column2 = document.createElement("td");
      column2.textContent = data[i].comment;
      row.appendChild(column2);

      var column3 = document.createElement("td");
      column3.textContent = data[i].rate;
      row.appendChild(column3);


      tableBody.appendChild(row);
    }
  });

   //var jdata = JSON.parse(data);


 
  }

  function CloseDiv() {
    var history = document.getElementById("History");
    history.style.display = "none";
  }

function mailform(){
      var emailform = document.getElementById("email");
      emailform.style.display = "block";

}

  function savecontent() {
    var table = document.getElementById('mylist');
    var data=[];
    var page_id = "{{object.pk}}";

    data.push({'page_id': page_id});
    for (var i = 1; i<table.rows.length; i++){
      var row = table.rows[i];
      var id = row.cells[0].innerHTML;
      var checkbox = document.getElementById(id);
      var ch = checkbox.checked;
      data.push({'id': id, 'ch': ch});

    }

    csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    $.ajax({
        
        method: 'POST',
        url: '{% url "savechanges" %}',
        data: {
            'data': JSON.stringify(data),
            'csrfmiddlewaretoken': csrf_token
        },
        success: function(response) {
            console.log('Data sent successfully!');
        },
        error: function(xhr, status, error) {
            console.log('Error sending data: ' + error);
        }
    });

  }
  
</script>




{% endblock %}