{% extends "sidebar.html" %}

{% block content %}
  <h1>Book List</h1>
  {% if call_list %}
  <ul>
    {% for call in call_list %}
      <li>
        <a href="{{ call.get_absolute_url }}">{{ call.name }}</a> ({{call.name}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% endblock %}
zvzxcvzcxv