{% extends "sidebar.html" %}

{% block content %}
  <h1>Local Library Home aaaa asasasas Barev Gor jan ev Ashot jan</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network sdgsdfgsdfg</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Schools count:</strong> {{ num_shcools}}</li>
    <li><strong>Teacher Count:</strong> {{ numteacher }}</li>
    <li><a href="{% url 'schools' %}">Դպրոցների ցուցակ</a></li>
    <li><a href="{% url 'teacher' %}">Ուսուցիչների ցուցակ</a></li>
  </ul>
{% endblock %}



