
 <html lang="en">

{% load static %}
 
 

 <link rel="stylesheet" href="{% static 'css/basestyle.css' %}">
<table>
	<thead>
	<tհ>
		<td> Դպրոցի անուն</td>
		<td> էլ հասցե</td>
		<td> Տնօրեն</td>
		<td> Դպրոցի հեռախոս</td>
		<td> Քաղաք</td>
	</tհ>
	</thead>
	<tbody>
{% for s in my_list %}
	<tr>
		<td> {{s.name}} </td>
		<td> {{s.email}} </td>
		<td>{{s.ceo}}</td>
		<td>{{s.phone_number}}</td>
		<td>{{s.city}}</td>
		<td>
			{% for k in s.teacher.all %}
			{{k.first_name}} {{k.last_name}}, 
			{% endfor %}
		</td>
		<td>
    <button onclick="showAlert('{{s.name}}')">Show Alert</button>

		</td>
	</tr>
{% endfor %}
</tbody>
</table>

<div id="myPopup" class="popup">
    <!-- Add content to your popup here -->
    <p>This is a p text</p>
    <form action="" method="post">
    {% csrf_token %} 
    <label> {{form.sname.help_text}}</label>
    <input type="text" name="{{ form.sname.name }}" value="{{ form.sname.value }}" readonly>
    {{form.comment}}

  	<input type="submit" value="Submit">


  </form>
    <button onclick="CloseAlert()">Cancel</button>

</div>

<!-- JavaScript to handle the popup -->
<script>
    var myButton = document.getElementById("myButton");
    var myPopup = document.getElementById("myPopup");
   // var l = document.getElementById("fname");
    var c = document.getElementsByName("sname");

	function showAlert(name) {
    	myPopup.style.display = "block";
    	//l.value = name;
    	c[0].value = name;
	}
	function CloseAlert() {
    
    	myPopup.style.display = "none";
	}
</script>

