 <html lang="en">
{% extends "sidebar.html" %}

{% block content %}
 {% load static %}
 <link rel="stylesheet" href="{% static 'css/basestyle.css' %}">
<h1> Ուսուցիչների ցուցակ </h1>
<p id="state"> {{state}} </p>

<table id="listteacher">
	<thead>
	<tհ>
		<td> N </td>
		<td> Ուսուցչի անուն</td>
		<td> էլ հասցե</td>
		<td> Հեռախոսահամար</td>
		<td> Անգլերենի իմացություն</td>
		<td> 
			<!-- <label> <input type="checkbox" id="checkboxcityall" onchange="allcity()" checked /> Բոլորը </label><br/> -->
			<label> <input type="checkbox" id="checkboxGoris" onchange="filterby()" checked/> Գորիս </label><br/>
			<label> <input type="checkbox" id="checkboxKapan" onchange="filterby()" checked/> Կապան </label><br/>
			<label> <input type="checkbox" id = "checkboxSisian" onchange="filterby()" checked/> Սիսիան </label><br/>
			<label> <input type="checkbox" id = "checkboxMeghri" onchange="filterby()" checked /> Մեղրի </label><br/>
			<label> <input type="checkbox" id = "checkboxQaj" onchange="filterby()" checked/> Քաջարան </label>
  
    	</td>
		<td>  	
			<!-- <label> <input type="checkbox" id="checkboxlicenseall" onchange="alllicense()" checked/> Բոլորը </label><br/> -->		
			<label> <input type="checkbox" id="checkboxChuni" onchange="filterby()" checked /> Լիցենզիա չունի </label><br/>
			<label> <input type="checkbox" id="checkboxJamanakavor" onchange="filterby()" checked/> Ժամանակավոր </label><br/>
			<label> <input type="checkbox" id = "checkboxAtestat" onchange="filterby()" checked /> Ատեստավորված </label><br/>
			<label> <input type="checkbox" id = "checkboxStacac" onchange="filterby()" checked/> Ստացած </label>
		</td>
		<td>
			Օրերի քանակը
		</td>
				<td>  	
			<!-- <label> <input type="checkbox" id="checkboxlicenseall" onchange="alllicense()" checked/> Բոլորը </label><br/> -->		
			<label> <input type="checkbox" id="worked" onchange="filterby()" checked /> Աշխատում է դպրոցում </label><br/>
			<label> <input type="checkbox" id="reserve" onchange="filterby()" checked/> Ռեզերվային </label><br/>


	</tհ>
	</thead>
	<tbody></tbody>
<!--	<tbody>
{% for s in my_list %}
	<tr>
		<td> {{s.first_name}} {{s.last_name}} </td>
		<td> {{s.email}} </td>
		<td>{{s.phone_number}}</td>
		<td>{{s.english}}</td>
		<td>{{s.city}}</td>
		<td>{{s.license_status}}</td>
		<td>
    <button onclick="showAlert(1)">Թողնել Մեկնաբանություն</button> 

		</td>
		<td>
        <button onclick="viewHistory('{{s.id}}')">Դիտել Պատմությունը</button>
    </td>
	</tr>
{% endfor %}
</tbody>
-->
</table>

<button onclick="updatelicense(0)">  Թարմացնել </button>
<button onclick="opencreatecall()"> Ստեղծել Զանգ</button>

<div id="CreateCall" class="popup">
<input type="text" id ="callname" >
<button onclick="createcall()"> Ստեղծել Զանգ</button>
<button onclick="closecreatecall()"> Փակել</button>
</div>

<div id="myPopup" class="popup">
    <!-- Add content to your popup here -->
    <p>This is a p text</p>
    <form action="" method="post">
    {% csrf_token %} 
    <label> {{form.sname.help_text}}</label>
    <input type="text" name="{{ form.sname.name }}" value="asas" readonly>
    {{form.state}}
    {{form.comment}}
    {{form.like}}
    {{form.checkbox_field}} <p> Բացել խնդիր</p>

  	<input type="submit" value="Submit">


  </form>
    <button onclick="CloseAlert()">Cancel</button>

</div>

<div id="History" class="historypopup">
<p>This is History of class </p>
  <table id="my-table" class = "history" width="100%">
    <thead>
      <tr>
        <th>Հրապարակման ամսաթիվ</th>
        <th>Մեկնաբանություն</th>
        <th> Գնահատական <th>
        
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
 <button onclick="CloseDiv()">Cancel</button>
</div>


<!-- JavaScript to handle the popup -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript" > </script>
<script>
	window.onload = function() {
	var load = document.getElementById("state").innerHTML;
	var num = parseInt(load, 10);

  var goris = document.getElementById("checkboxGoris");
	var sisian = document.getElementById("checkboxSisian");
	var kapan = document.getElementById("checkboxKapan");
	var meghri = document.getElementById("checkboxMeghri");
	var qajaran = document.getElementById("checkboxQaj");


    var chuni = document.getElementById("checkboxChuni");
    var jamanakavor = document.getElementById("checkboxJamanakavor");
    var atestat = document.getElementById("checkboxAtestat");
    var stacac = document.getElementById("checkboxStacac");

    var worked = document.getElementById("worked");
    var reserve = document.getElementById("reserve");



    var a = num;
    var g = a%2;
    if (g == 0) goris.checked = false;

    a = Math.floor(a/2);
    var s = a%2;
		if (s == 0) sisian.checked = false;  
    
    a = Math.floor(a/2);
    var k = a%2;
    if (k == 0) kapan.checked = false;
    
    a = Math.floor(a/2);
    var m = a%2;
    if (m == 0) meghri.checked = false;
    
    a = Math.floor(a/2);
    var q = a%2;
    if (q == 0) qajaran.checked = false;
    

    a = Math.floor(a/2);
    var c = a%2;
    if (c == 0) chuni.checked = false;

    a = Math.floor(a/2);
    var j = a%2;
    if (j == 0) jamanakavor.checked = false;


    a = Math.floor(a/2);
    at = a%2;
    if (at == 0) atestat.checked = false;

    a = Math.floor(a/2);
    var st = a%2;
    if (st == 0) stacac.checked = false;

    a = Math.floor(a/2);
    var wk = a%2;
    if (wk == 0) worked.checked = false;

    a = Math.floor(a/2);
    var r = a%2;
    if (r == 0) reserve.checked = false;	    
    GetTeachers(num);


};
    var myButton = document.getElementById("myButton");
    var myPopup = document.getElementById("myPopup");
   // var l = document.getElementById("fname");
    var c = document.getElementsByName("sname");

	function showAlert(mid) {
    	myPopup.style.display = "block";
    	//l.value = name;
    	console.log("Show Alert");
    	console.log(mid);
    	c[0].value = mid;
			var st = document.getElementsByName("state")

			st[0].value = getState();
	}

	function getState(){
	var goris = document.getElementById("checkboxGoris");
	var sisian = document.getElementById("checkboxSisian");
	var kapan = document.getElementById("checkboxKapan");
	var meghri = document.getElementById("checkboxMeghri");
	var qajaran = document.getElementById("checkboxQaj");


    var chuni = document.getElementById("checkboxChuni");
    var jamanakavor = document.getElementById("checkboxJamanakavor");
    var atestat = document.getElementById("checkboxAtestat");
    var stacac = document.getElementById("checkboxStacac");
    var worked = document.getElementById("worked");
    var reserve = document.getElementById("reserve");


    var g = goris.checked;
    var s = sisian.checked;
    var k = kapan.checked;
    var m = meghri.checked;
    var q = qajaran.checked;  

    var c = chuni.checked;
    var j = jamanakavor.checked;
    var a = atestat.checked;
    var st = stacac.checked;

    var wk = worked.checked;
    var r = reserve.checked;

    var pk = g+s*2+k*4+m*8+q*16+c*32+j*64+a*128+st*256+512*wk+1024*r;
    console.log(pk);
    return pk;

	}
	function CloseAlert() {
    
    	myPopup.style.display = "none";
	}
function opencreatecall(){
		      var create = document.getElementById("CreateCall");
		      create.style.display = "block";

}
function closecreatecall(){
		      var create = document.getElementById("CreateCall");
		      create.style.display = "none";
}

	function viewHistory(id){
	      var history = document.getElementById("History");
	      history.style.display = "block";
	      csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
	      var url = '/syunikbase/getteacherhistory/'+id;
	      var jsdata = null;

	// Send the request and parse the JSON response
	      var tableBody = document.querySelector("#my-table tbody");
	      tableBody.innerHTML = "";


		fetch(url)
		  .then(response => response.json())
		  .then(data => {
		    // Do something with the data
		    
		    console.log(data);
		       for (var i = 0; i < data.length; i++) {
		      console.log(i);
		      var row = document.createElement("tr");

		      var column1 = document.createElement("td");
		      column1.textContent = data[i].date;
		           row.appendChild(column1);

		      var column2 = document.createElement("td");
		      column2.textContent = data[i].comment;
		      row.appendChild(column2);

		      var column3 = document.createElement("td");
		      column3.textContent = data[i].rate;
		      row.appendChild(column3);


		      tableBody.appendChild(row);
		    }
		  });

   //var jdata = JSON.parse(data);


 
  }

function CloseDiv() {
    var history = document.getElementById("History");
    history.style.display = "none";
  }

function GetTeachers(filtertype){

		  csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
	      var url = '/syunikbase/getteacherlistbyfilter/'+filtertype;
	      var jsdata = null;

	// Send the request and parse the JSON response
	      var tableBody = document.querySelector("#listteacher tbody");
	      tableBody.innerHTML = "";


		fetch(url)
		  .then(response => response.json())
		  .then(data => {
		    // Do something with the data
		    
		    console.log(data);
		      for (var i = 0; i < data.length; i++) {
		      console.log(i);
		      var row = document.createElement("tr");

		      var column0 = document.createElement("td");
		      column0.textContent = i+1;
		      row.appendChild(column0);


		      var column1 = document.createElement("td");
		      column1.textContent = data[i].first_name + " " + data[i].last_name;
		      row.appendChild(column1);


		      var columne = document.createElement("td");
		      columne.textContent = data[i].email;
		      row.appendChild(columne);

		      var column2 = document.createElement("td");
		      column2.textContent = data[i].phone_number;
		      row.appendChild(column2);

		      var column3 = document.createElement("td");
		      column3.textContent = data[i].english;
		      row.appendChild(column3);


		      var column4 = document.createElement("td");
		      column4.textContent = data[i].city;
		      row.appendChild(column4);

		      var column5 = document.createElement("td");
		      column5.textContent = data[i].license_status;
		      row.appendChild(column5);

		      var column6 = document.createElement("td");
		      column6.textContent = data[i].license_days;
		      row.appendChild(column6);

		      var column8 = document.createElement("td");
		      column8.textContent = data[i].schools;
		      row.appendChild(column8);

		      var column7 = document.createElement("td");
		      var button = document.createElement("button");

		      var mid = data[i].id;
		      button.id = mid;
    		  button.innerHTML="Թողնել Մեկնաբանություն";
    		  button.name = "MakeComment";

		      console.log(mid);
		      button.onclick =  function () {
		      	showAlert (this.id);
		      }
		      column7.appendChild(button);
		      row.appendChild(column7);

		      var column8 = document.createElement("td");
		      var button1 = document.createElement("button");
		      button1.id = mid;
       		  button1.innerHTML="Տեսնել Պատմությունը";
       		  button1.onclick = function(){
       		  	viewHistory(this.id);
       		  }
       		  column8.appendChild(button1);
       		  row.appendChild(column8);



		      tableBody.appendChild(row);
		    }
		  });

}

function filterby(){
	var goris = document.getElementById("checkboxGoris");
	var sisian = document.getElementById("checkboxSisian");
	var kapan = document.getElementById("checkboxKapan");
	var meghri = document.getElementById("checkboxMeghri");
	var qajaran = document.getElementById("checkboxQaj");


    var chuni = document.getElementById("checkboxChuni");
    var jamanakavor = document.getElementById("checkboxJamanakavor");
    var atestat = document.getElementById("checkboxAtestat");
    var stacac = document.getElementById("checkboxStacac");

    var worked = document.getElementById("worked");
    var reserve = document.getElementById("reserve");



    var g = goris.checked;
    var s = sisian.checked;
    var k = kapan.checked;
    var m = meghri.checked;
    var q = qajaran.checked;  

    var c = chuni.checked;
    var j = jamanakavor.checked;
    var a = atestat.checked;
    var st = stacac.checked;

    var wk = worked.checked;
    var r = reserve.checked;

    var pk = g+s*2+k*4+m*8+q*16+c*32+j*64+a*128+st*256+512*wk+1024*r;
    console.log(pk);

  var state = document.getElementById("state");
  state.innerText = pk;

	GetTeachers(pk);

}


function allcity(){
	var all = document.getElementById("checkboxcityall");


}

function alllicense(){

}

function updatelicense(){
	csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
	var url = '/syunikbase/updatelicense';
    var jsdata = null;
    fetch(url)
		  .then(response => response.json())
		  .then(data => {

		  });

}

function createcall() {
    var buttons = document.getElementsByName('MakeComment');

    var data=[];
    call_name = document.getElementById("callname");
    call_nametext = call_name.value;
    data.push({'name' : call_nametext});
    var load = getState()
    data.push({'state' : load});
//    var page_id = "{{object.pk}}";

 //   data.push({'page_id': page_id});
    for (var i = 0; i<buttons.length; i++){
    	console.log(buttons[i].name);
      var id = buttons[i].id;
      console.log(buttons[i].id);
      data.push({'id': id});

    }

    csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    $.ajax({
        
        method: 'POST',
        url: '{% url "createcall" %}',
        data: {
            'data': JSON.stringify(data),
            'csrfmiddlewaretoken': csrf_token
        },
        success: function(response) {
            console.log('Data sent successfully!');
        },
        error: function(xhr, status, error) {
            console.log('Error sending data: ' + error);
        }
    });
    closecreatecall();

  }


</script>

{% endblock %}